

form{
    margin-top: 10px;
}

h3{
    color: #f17732 !important;
  }

  .sign-up{
    /* background-image: url("../Assets/Signup_background.jpeg");
    background-size: cover; */
    margin: 70px;
  } 